<table class="ui celled padded table">
  <thead>
    <tr>
      <th class="single line">Title</th>
      <th>Rating</th>
      <th>Description</th>
      <th>Price</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let video of videos">
      <td>
        <h2 class="ui aligned header">{{video.title}}</h2>
      </td>
      <td>
        <app-rating [rating]="video.rating"></app-rating>
      </td>
      <td class="ui center">
        {{video.description}}
      </td>
      <td class="ui center">
        {{video.price | currency:'USD':true}}
      </td>
    </tr>
  </tbody>
</table>
