<table class="ui celled padded table">
  <thead>
    <tr>
      <th>ID</th>
      <th class="single line">Title</th>
      <th>Rating</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let video of videos">
      <td>{{video.id}}
        <i class="edit icon right" (click)="editVideo(video)"></i>
      </td>
      <td>
        <p> {{video.title}}</p>
      </td>
      <td>
        <app-rating [rating]="video.rating"></app-rating>
      </td>
      <td class="ui center">
        <p>{{video.description}}</p>
      </td>
      <td class="ui center">
        <p>{{video.price | currency:'USD':true}}</p>
      </td>
    </tr>
  </tbody>
</table>