<table class="ui celled padded table">
  <thead>
    <tr>
      <th class="single line">Title</th>
      <th>Rating</th>
      <th>Description</th>
      <th>Price</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let video of videos">
      <td>
        <h2 class="ui aligned header">{{video.title}}</h2>
      </td>
      <td>
        <div class="ui star rating" data-rating="3" data-max-rating="5">2</div>
      </td>
      <td class="ui center">
        {{video.description}}
      </td>
      <td class="ui center">
        {{video.price | currency}}
      </td>
    </tr>
  </tbody>
</table>