<div class="ui negative message" *ngIf="error">
  <i class="close icon" (click)="clearError()"></i>
  <div class="header">
   {{error}}
  </div>
</div>
<div class="ui form" *ngIf="video">
  <div class="field " [class.error]="!video.title.length">
    <label>Title</label>
    <input placeholder="Title" type="text" [(ngModel)]="video.title">
  </div>
  <div class="field">
    <label>Description</label>
    <textarea [(ngModel)]="video.description"></textarea>
  </div>
  <div class="two fields">
    <div class="field " [class.error]="video.rating < 0 || video.rating > 5">
      <label>Rating</label>
      <input placeholder="Rating" type="number" [(ngModel)]="video.rating" min="1" max="5">
    </div>
    <div class="field " [class.error]="video.price < 0">
      <label>Price</label>
      <input placeholder="Price" type="number" [(ngModel)]="video.price" min="1">
    </div>
  </div>
  <div class="right">
    <button class="ui button" (click)="save()">Save</button>
    <button class="ui button" (click)="cancel()">Cancel</button>
  </div>
</div>