<table class="ui celled padded table">
  <thead>
    <tr>
      <th class="single line">Id</th>
      <th>Name</th>
      <th>Address</th>
      <th>Card Number</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers">
      <td>
         {{customer.id}}
        <i class="edit icon right" (click)="editCustomer(customer)"></i>
      </td>
      <td>
        <p>{{customer.name}}</p>
      </td>
      <td class="ui center">
        <p>{{customer.address}}</p>
      </td>
      <td class="ui center">
        <p>{{customer.payment | myCard}}</p>
      </td>
    </tr>
  </tbody>
</table>