<table class="ui celled padded table">
  <thead>
    <tr>
      <th class="single line">Id</th>
      <th>Name</th>
      <th>Address</th>
      <th>Card Number</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers">
      <td>
        {{customer.id}}
      </td>
      <td>
        {{customer.name}}
      </td>
      <td class="ui center">
        {{customer.address}}
      </td>
      <td class="ui center">
        {{customer.payment}}
      </td>
    </tr>
  </tbody>
</table>